{% extends 'base.html' %}
{%block content%}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Quem é essa tal Joy, afinal?</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        Aqui vai um texto bem legal sobre quem é a Joy e como ela é uma pessoa especial que gosta de coisas legais tipo fazer crochê assim do nada. s2
                    </div>
                </center>
            </div>
        </div>
{%endblock%}