{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Carrinho</h1>
                <p class="lead fw-normal text-white-50 mb-0">Coloca mais uma bolsa aí...</p>
            </div>
        </div>
    </header>
    <div class="container">
        {% if cart_products %}
        {% for product in cart_products%}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            {% if product.is_sale%}
                                <p class="card-text"><strike>R${{ product.price }}</strike> | R${{ product.sale_price }}</p>
                            {% else %}
                                <p class="card-text">R${{product.price}}</p>
                            {% endif %}
                            <p class="card-text"><small class="text-body-secondary">{{product.description}}</small></p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Seu carrinho está vazio! Adicione produtos para continuar.
            </div>
        {% endif %}
    </div>
        <br/><br/><br/>
{% endblock %}